.btn {
  background-color: rgb(16, 95, 186);
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50px;
}

.btn:hover {
  background-color: #a4b77f;
}