@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Oswald&display=swap');

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  width: 100%;
  padding: 10px 0;
}

#menu-footer {
  display: flex;
  flex-direction:column;
  width: 100%;
  padding: 10px;
  color: rgb(186, 186, 16);
}

#menu-footer a img {
  width: 35%;
}

#menu-footer a {
  color: white;
  text-decoration: none;
}

#criador a {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: rgba(185, 185, 185, 0.874);
}

#criador {
  font-size: 12px;
}

#criador a:hover {
  text-decoration: underline;
}

/* CONTATOS */

#contatos {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(16, 95, 186);
}

#contatos a {
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 10%;
}