@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Oswald&display=swap');

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  width: 100%;
  padding: 10px 0;
}

#menu-footer {
  display: flex;
  flex-direction:column;
  width: 100%;
  padding: 10px;
  color: rgb(186, 186, 16);
}

#menu-footer a img {
  width: 30%;
}

#menu-footer a {
  color: white;
  text-decoration: none;
}

.end {
  font-size: 15px;
  color: white;
}

/* CONTATOS */

#contatos {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(16, 95, 186); */
  /* background-color: rgb(124, 129, 134); */
  background-color:  #001F3F;
}

#contatos a {
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 10%;
}

/* PAGAMENTO */

#pagto-icons {
  /* border: 1px solid red; */
  background-color: #fff;
  display: flex;
  margin-left: 40%;
  justify-content: center;
  border-radius: 5px;
  width: 20%;
  padding: 10px;
  justify-content:baseline;
}

#seta {
  display: flex;
  justify-content: end;
}

#criador a {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: rgba(185, 185, 185, 0.874);
}

#criador {
  font-size: 12px;
  color: rgba(185, 185, 185, 0.874);
}

#criador a:hover {
  text-decoration: underline;
}