/* SOBRE */

#conteudo {
  display: flex;
  flex-direction: row;
  color: rgb(101, 101, 101);
  justify-content: space-around;
  align-items: center;
  width: 894px;
  height: 290px;
  margin: auto;
  margin-top: 50px;
}

#destaques {
  /* border: 1px solid rgb(255, 30, 30); */
  display: flex;
  background-color: #001F3F;
  margin: 20px auto;
  width: 90%;
  padding: 5% 0;
  color: rgb(101, 101, 101);
}

#destaques-text{
  /* border: 1px solid rgb(101, 101, 101); */
  padding: 10px;
  font-size: 30px;
}

#destaques-desc{
  /* border: 1px solid rgb(101, 101, 101); */
  padding: 25px;
  margin: 40px;
  text-align: justify;
}

#destaques-img {
  display: flex;
  border-radius: 15% 50%;
  width: 50%;
  height: 60%;
  margin: 20px;
}

#div-img {
  /* border: 1px solid rgb(102, 60, 109); */
  display: flex;
  padding: 10px;
  margin-bottom: -10%;
  text-align: center;
}

.img-text {
  /* border: 1px solid rgb(219, 11, 11); */
  display: flex;
  margin: 20px;
  flex-direction: column;
  align-items: center;
  /* text-align: justify; */
  padding: 25px;

}

/* HORARIOS */

#horarios {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#titulo {
  width: 120%;
  color: #D6B206;
  padding: 10px;
  margin: 10px;
}

p {
  margin: 10px 0;
  width: 100%;
  color: #D9D9D9;
  font-size: 20px;
}

.dias {
  color: #80A5F6;
  font-weight: bold;
}

.horas {
  color: #D9D9D9;
  font-weight: bold;
}

.btn {
  background-color: rgb(16, 95, 186);
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50px;
}

.btn a {
  color: #D9D9D9;
  text-decoration: none;
}

.btn:hover {
  background-color: #a4b77f;
}

/* VALORES */
#tab-valores {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  border-collapse: separate;
  border-spacing: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#titulo-tab {
  color: #333;
  margin: 10px;
}

.item-tab {
  font-weight: bold;
  margin: 20%;
}

th, td {
  padding: 10px;
  background-color: #D9D9D9;
}

th {
  background-color: #D6B206;
}

/* ENDEREÇO */

#mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #333;
  text-align: center;
  color: #D6B206;
}

#mapa img {
  width: 80%;
}

#mapa :hover {
  opacity: 0.9;
}
