@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Gloock&display=swap');

#video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3%;
  align-items: center;
  overflow: hidden;
}

#video-background {
  width: 100%;
  height: auto;
  opacity: 0.4;
}

main {
  position: relative;
  z-index: 1;
}

#saudacao {
  position: absolute;
  width: 100%;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6em;
  color: #fff;
  font-weight: bold;
  font-family: 'Fredericka the Great', serif;
  text-align: center;
}