@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');

body {
  background-color: black;
  font-family: 'IM Fell DW Pica', serif;
}

header {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 10px;
  align-items: center;
  color: black;
  background-color: rgb(134, 140, 154);
  border: 1px solid red ;
  border-radius: 20px;
}

.logo {
  /* display: flex;
  justify-content: flex-start; */
  height: 130px;
  width: 320px;
  border: 1px solid red ;
}

.cabecalho {
  display: flex;
  justify-content: space-around;
  width: 800px;
  color: black;
  border: 1px solid red ;
}

/* div-logo {

} */