@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Gloock&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Fredericka the Great', serif;
  font-weight: 300;
  background: black;
}